.hero {
  max-width: 12%;
  animation-name: moveCharacter;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
}

.monster {
  max-width: 20%;
  animation-name: moveCharacter;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
  transform: scaleX(-1);
}

.game-bg {
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 800px;
  margin: 25px;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes moveCharacter {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}
/* SMALL ANIMATION FOR TITLE IF WE WANT IT */
.title {
  font-size: 20px;
  transition-property: font-size;
  transition-duration: 10s;
  transition-delay: 1s;
}
.title:hover {
  color: red;
  transform: rotate(180deg);
  font-size: 40px;
}
