*{
  margin: 0px;
}

.layout{
  width: 90vw;
  height: 90vh;
  margin-top: 5vh;
  margin-bottom: 5vh ;
  border: '1px solid';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.game-container {
  width: 100%;
  height: 100%;
  flex-direction: column;  
}

.game-bg {
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100% !important;
  height: 100%;
  position: relative;
  padding: 10px;
}

.hero {
  max-width: 30%;
  animation-name: moveHero;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
}

.monster {
  max-width: 40%;
  animation-name: moveMonster;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
  
}

.scoreboard {
  display: flex;
  flex-direction: column;
}

.scorebtn{
  margin: 10px
}

@keyframes moveMonster {
  from {
    transform: translateY(0px) scaleX(-1);
  }
  to {
    transform: translateY(20px) scaleX(-1);
  }
}

@keyframes moveHero {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}
/* SMALL ANIMATION FOR TITLE IF WE WANT IT */
.title {
  font-size: 20px;
  transition-property: font-size;
  transition-duration: 10s;
  transition-delay: 1s;
}
.title:hover {
  color: red;
  transform: rotate(180deg);
  font-size: 40px;
}
